@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Open+Sans&family=Roboto&display=swap");
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

p {
  color: black;
  font-family: "Open sans", sans-serif;
  font-size: 0.8em;
}

footer ul {
  margin: auto;
  display: inline-block;
}
footer ul li {
  display: inline-block;
  margin: auto;
  list-style: none;
}

.iconsContact {
  display: flex;
}
.iconsContact ul {
  display: flex;
}
.iconsContact ul li {
  list-style: none;
  flex-direction: row;
  justify-content: space-between;
}
.iconsContact ul li h2 {
  font-size: 1.5em;
}

.btnContacto {
  background-color: #88A61C;
  color: black;
}
.btnContacto:hover {
  background-color: #C8D98B;
  transform: scale(1.09);
  transition: all 1s;
}

.principalSection {
  width: auto;
  height: auto;
  margin: 10px;
  border: dotted 3px #88A61C;
  padding: 10px 10px;
}

.paddingStandard {
  padding: 20px 30px 110px 30px;
}

.bgColorLight {
  background-color: #C8D98B;
}

.bgColorDark {
  background-color: #497320;
}

.imgFluid {
  width: 100%;
}

.tituloPrincipalXL {
  font-size: 1.5em;
}

.tituloMd {
  font-size: 1em;
}

.parrafoSm {
  font-size: 1em;
}

.textCenter {
  text-align: center;
}

.dFlex {
  display: flex;
}

.fDirection {
  flex-direction: column;
}

.spaceBtwn {
  justify-content: space-around;
}

.alignContentCenter {
  align-content: center;
}

.directionColumn {
  flex-direction: column;
}

.pie {
  padding: 10px 50px;
  background-color: #65a603;
  text-align: center;
  margin-right: 8px;
  width: 100%;
  box-sizing: border-box;
  height: 10vh;
}

.iconSmall {
  width: 30px;
  margin-right: 20px;
}

.textLeft {
  text-align: left;
  width: 40%;
  margin-right: 50px;
}

.justifyContentSpaceBetween {
  justify-content: space-between;
}

.justifyContentCenter {
  justify-content: center;
}

.stretch {
  justify-content: stretch;
}

.seccionDireccion {
  width: 45%;
  padding-top: 10px;
  padding-left: 30px;
}

.seccionGoogleMaps {
  width: auto;
  padding: 30px;
}

.imgSm {
  width: 400px;
}

.borderDottedGreen {
  border: dotted 3px #88A61C;
}

.marginEntreSections {
  margin: 10px;
}

.alignItem {
  align-items: flex-start;
}

#botonera {
  background-color: #497320;
  grid-area: nav;
}
#botonera ul li {
  margin-right: 10px;
}
#botonera ul li a {
  color: black;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}
#botonera ul li a:hover {
  color: black;
  font-weight: 600;
  background-size: 100% 2px;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 13vh 80vh 130vh 10vh;
  grid-template-areas: "nav" "header" "main" "mapa" "pie";
}
.gridContainer #botonera {
  background-color: #497320;
  grid-area: nav;
}
.gridContainer #imgHeader {
  grid-area: header;
}
.gridContainer #main {
  grid-area: main;
}
.gridContainer #aside {
  grid-area: aside;
}
.gridContainer #mapa {
  grid-area: mapa;
  background-color: #C8D98B;
  width: auto;
  height: auto;
}
.gridContainer #footer {
  grid-area: pie;
}
@media (min-width: 768px) {
  .gridContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 25vh 35vh 80vh 110vh 10vh;
    grid-template-areas: "nav" "header" "main" "mapa" "pie";
  }
  .gridContainer #botonera ul li {
    color: black;
    font-size: 1em;
    text-decoration: none;
  }
  .gridContainer #botonera ul li a {
    color: black;
    font-size: 1em;
    text-decoration: none;
  }
  .gridContainer p {
    color: black;
    font-family: "Open sans", sans-serif;
    font-size: 1.2em;
  }
  .gridContainer .pluginFacebook {
    width: 20vw;
    height: auto;
    margin-top: 50px;
    border: solid aqua 3px;
    display: none;
  }
  .gridContainer .principalMargin {
    margin-top: 50px;
  }
  .gridContainer .principalSection {
    width: auto;
    height: auto;
    margin: 10px 10px;
    border: dotted 3px #C8D98B;
    padding: 10px 10px;
  }
  .gridContainer .paddingStandard {
    padding: 30px 30px 70px 30px;
  }
}
@media (min-width: 1024px) {
  .gridContainer {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 15vh 50vh 75vh 60vh 8vh;
    grid-template-areas: "nav nav" "header header" "main aside" "mapa mapa" "pie pie";
  }
  .gridContainer #botonera ul li {
    margin-right: 10px;
  }
  .gridContainer #botonera ul li a {
    color: black;
    font-size: 1em;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size 0.3s;
  }
  .gridContainer #botonera ul li a:hover {
    color: black;
    font-weight: 600;
    background-size: 100% 2px;
  }
  .gridContainer p {
    color: black;
    font-family: "Open sans", sans-serif;
    font-size: 1.5em;
  }
  .gridContainer .principalSection {
    width: 80%;
    height: auto;
    border: dotted 3px #C8D98B;
    margin: 10px;
  }
  .gridContainer .pluginFacebook {
    width: 76%;
    height: auto;
    border: solid aqua 3px;
    display: inline-block;
  }
  .gridContainer .fDirection {
    flex-direction: row;
  }
  .gridContainer .seccionGoogleMaps {
    width: 70%;
    padding: 30px;
  }
}

/*# sourceMappingURL=main.css.map */
