@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Open+Sans&family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;   
}

p{
    color: black;
    font-family: 'Open sans', sans-serif;
    font-size: 2em;
}

nav{
    background-color: #65a603;
    /* position */

    /* padding */
    padding: 8px 20px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

    nav ul{

        display: inline-block;
        margin-left: 10px;

    }

        nav ul li{

            display: inline-block;
            list-style: none;
            margin-right: 10px;
            
        }

            nav ul li a{
            color: #000000;
            font-size: 2em;
            font-family: 'Roboto', sans-serif;
            text-decoration: none;
            
            }

            nav ul li a:hover{
                color: #1b4001;
                text-decoration: underline;
            }

h1, h2{
    color: #000000;
    font-size: 4em;
    font-family: 'Nunito', sans-serif;
}

.bgColorLight{
    background-color: #C8D98B;
}

.bgColorDark{
    background-color: #497320;
}

.imgFluid{

    width: 100%;
}

.main__titulo--xl{
    font-size: 3em;
}

.principal__section{
    width: 65%;
    height: auto;
    display: inline-block;
    margin: 50px 20px;
}

.pluginFacebook{
    width: 25%;
    height: auto;
    display: inline-block;
   
}

.textCenter{
    text-align: center;
}

.dFlex{
    display: flex;
}

.pie{
    padding: 10px 50px;
    background-color: #65a603;
    text-align: center;
}

.iconSmall{
    width: 30px;
    margin-right: 20px;
}

.direccion--textLeft{
    text-align: left;
    width: 40%;
    margin-right: 50px;
}

.mapaAlignRight{
    width: 40%;
    height: auto;
    padding-right: 50px;
    
    
}

footer ul{
    margin: auto;
    display: inline-block;
}
    footer ul li{
        display: inline-block;
        margin: auto;
    }

#mapa{
    background-color: #BABF2A;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;

}

#mapa article{
    display: inline-block;
    
    
}
    #mapa article p{
    font-family: 'Nunito', sans-serif;
    font-size: 1em;
    }
