@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Open+Sans&family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;   
}

p{
    color: black;
    font-family: 'Open sans', sans-serif;
    /* font-size: 1.5em; */
    font-size: 0.8em;
}


/* nav{
    background-color: #65a603;
   
    padding: 8px 30px;
    width: 100%;
    height: 20vh;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


    nav ul{

        display: flex;
        margin-left: 10px;

    }

        nav ul li{

            display: flex;
            list-style: none;
            margin-right: 10px;
            justify-content: space-between;
            
        }

            nav ul li a{
            color: #000000;
            font-size: 1.4em;
            font-family: 'Roboto', sans-serif;
            text-decoration: none;
            }

            nav ul li a:hover{
                color: #1b4001;
                text-decoration: underline;
            } */

/* nav{
    display: flex;
    flex-direction: column;
    align-items: center; */
/* } */

    /* nav ul{
      display: flex;  
    } */

        /* nav ul li{
            margin-left: 10px;
            margin-bottom: 5px;
            font-size: 0.7em;
            list-style: none;
            justify-content: space-around;
        } */

            

            #botonera ul li a{
                color: black;
                font-size: 1.2em;
                /*Subrayado animado*/
                background-image: linear-gradient(currentColor, currentColor);
                background-position: 0% 100%;
                background-repeat: no-repeat;
                background-size: 0% 2px;
                transition: background-size .3s;
            }
        
            #botonera ul li a:hover{
                color: black;
                font-weight: 600;
                /*Subrayado animado*/
                background-size: 100% 2px;
            }





footer ul{
    margin: auto;
    display: inline-block;
}
    footer ul li{
        display: inline-block;
        margin: auto;
        list-style: none;
    }

.paddingStandard{
    padding: 20px 30px 110px 30px;
}

.bgColorLight{
    background-color: #C8D98B;
}

.bgColorDark{
    background-color: #497320;
}

.imgFluid{

    width: 100%;
}

.tituloPrincipalXL{
    /* font-size: 2.5em; */
    font-size: 1.5em;
}

.tituloMd{
    font-size: 1.5em;
}

.parrafoSm{
    font-size: 1em;
}

.principalSection{
    width: auto;
    height: auto;
    /* display: inline-block; */
    margin: 10px;
    border: dotted 3px #88A61C;
    padding: 10px 10px;
}

.pluginFacebook{
    width: 35vw;
    height: auto;
    display: none;
    margin-top: 50px 30px;
    border: solid aqua 3px;
    /* display: none;
     */
}

.textCenter{
    text-align: center;
}

.dFlex{
    display: flex;
}

.fDirection{
    flex-direction: column;
}

.spaceBtwn{
    justify-content: space-around;
}

.alignContentCenter{
    align-content: center;
}

.directionColumn{
    flex-direction: column;
}

.pie{
    padding: 10px 50px;
    background-color: #65a603;
    text-align: center;
    margin-right: 8px;
    width: 100%;
    box-sizing: border-box;
    height: 10vh;
    
}

.iconSmall{
    width: 30px;
    margin-right: 20px;
}

.textLeft{
    text-align: left;
    width: 40%;
    margin-right: 50px;
}

.justifyContentSpaceBetween{
    justify-content: space-between;
}

.justifyContentCenter{
    justify-content: center;
}

.stretch{
    justify-content: stretch;
}

.seccionDireccion{
    width: 45%;
    padding-left: 30px;
}

.seccionGoogleMaps{
    width: auto;
    padding: 30px;
}

.imgSm{
    width: 400px;
}

.borderDottedGreen{
    border: dotted 3px #88A61C;
    
}

.marginEntreSections{
    margin: 10px;

}

.alignItem{
    align-items: flex-start;
}


/* ======================================GRID==================================================== */

.gridContainer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25vh 25vh 70vh 100vh 10vh;
    grid-template-areas: 
    "nav"
    "header"
    "main"
    "mapa"
    "pie";


}

#botonera{
    background-color: #65a603;
    grid-area: nav;
}

#imgHeader{
    grid-area: header;
}

#main{
    grid-area: main;

}

#aside{
    grid-area: aside;
}

#mapa{
    grid-area: mapa;
    background-color: #BABF2A;
    width: auto;
    height: auto;
}

#footer{
    grid-area: pie;
}

@media (min-width:768px){
	.gridContainer{
		display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 25vh 35vh 70vh 100vh 10vh;
        grid-template-areas: 
        "nav"
        "header"
        "main"
        "mapa"
        "pie";
	}

    #botonera ul li a{
        color: black;
        font-size: 1em;
        text-decoration: none;
        
    }

    p{
        color: black;
        font-family: 'Open sans', sans-serif;
        font-size: 1.3em;
        /* font-size: 0.8em; */
    }

    .pluginFacebook{
        width: 20vw;
        height: auto;    
        margin-top: 50px;
        border: solid aqua 3px;
        display: none;
        
        
    }

    .principalMargin{
        margin-top: 50px;
    }

    .principalSection{
        width: auto;
        height: auto;
        margin: 10px 10px;
        /* display: inline-block; */
        border: dotted 3px #88A61C;
        padding: 10px 10px;
    }

    .paddingStandard{
    padding: 30px 30px 70px 30px;
    }

    




}

@media (min-width:1024px){
    

	.gridContainer{
		display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 15vh 50vh 70vh 55vh 8vh;
        grid-template-areas: 
        "nav nav"
        "header header"
        "main aside"
        "mapa mapa"
        "pie pie"; 
        

	}

    /* nav{
        width: 100%;
        height: auto;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-direction: row;
    }
    
        nav ul{
            display: flex;
            margin-left: 10px;
            justify-content: space-between;
            
        }
    
            nav ul li{
                display: flex;
                list-style: none;
                margin-right: 10px;
                justify-content: space-between;
            }
    
                nav ul li a{
                    color: #000000;
                    font-size: 1.4em;
                    font-family: 'Roboto', sans-serif;
                    text-decoration: none;
                } */

            #botonera ul li{
                margin-right: 10px;
            }

                #botonera ul li a{
                    color: black;
                    font-size: 1em;
                    text-decoration: none;
                    /*Subrayado animado*/
                    background-image: linear-gradient(currentColor, currentColor);
                    background-position: 0% 100%;
                    background-repeat: no-repeat;
                    background-size: 0% 2px;
                    transition: background-size .3s;
                }
            
                #botonera ul li a:hover{
                    color: black;
                    font-weight: 600;
                    /*Subrayado animado*/
                    background-size: 100% 2px;
                }

    p{
        color: black;
        font-family: 'Open sans', sans-serif;
        font-size: 1.5em;
    }

    .principalSection{
        width: 80%;
        height: auto;
        /* display: inline-block; */
        border: dotted 3px #88A61C;
        margin: 10px;
    }

    .pluginFacebook{
        width: 76%;
        height: auto;
        border: solid aqua 3px;
        display: inline-block;        
        
    }


        .fDirection{
            flex-direction: row;
        }

        .seccionGoogleMaps{
            width: 70%;
            padding: 30px;
        }
    
}

