@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Open+Sans&family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;   
}

p{
    color: black;
    font-family: 'Open sans', sans-serif;
    font-size: 1.5em;
}

nav{
    background-color: #65a603;
    /* position */

    /* padding */
    padding: 8px 30px;
    width: 100%;
    height: 15vh;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

    nav ul{

        display: flex;
        margin-left: 10px;

    }

        nav ul li{

            display: flex;
            list-style: none;
            margin-right: 10px;
            justify-content: space-between;
            
        }

            nav ul li a{
            color: #000000;
            font-size: 1.4em;
            font-family: 'Roboto', sans-serif;
            text-decoration: none;
            }

            nav ul li a:hover{
                color: #1b4001;
                text-decoration: underline;
            }

h1, h2{
    color: #000000;
    font-size: 4em;
    font-family: 'Nunito', sans-serif;
}



footer ul{
    margin: auto;
    display: inline-block;
}
    footer ul li{
        display: inline-block;
        margin: auto;
    }

.paddingStandard{
    padding: 8px 30px;
}

.bgColorLight{
    background-color: #C8D98B;
}

.bgColorDark{
    background-color: #497320;
}

.imgFluid{

    width: 100%;
}

.tituloPrincipalXL{
    font-size: 2.5em;
}

.tituloMd{
    font-size: 1.5em;
}

.parrafoSm{
    font-size: 1em;
}

.principalSection{
    width: 55%;
    height: auto;
    /* display: inline-block; */
    margin: 50px 20px;
    border: dotted 3px #88A61C;
    padding: 10px 10px;
}

.pluginFacebook{
    width: 28%;
    height: auto;
    /* display: inline-block; */
    margin-top: 50px;
    border: solid aqua 3px;
    
}

.textCenter{
    text-align: center;
}

.dFlex{
    display: flex;
}

.spaceBtwn{
    justify-content: space-around;
}

.alignContentCenter{
    align-content: center;
}

.pie{
    padding: 10px 50px;
    background-color: #65a603;
    text-align: center;
    margin-right: 8px;
    width: 100%;
    box-sizing: border-box;
    height: 8vh;
    
}

.iconSmall{
    width: 30px;
    margin-right: 20px;
}

.textLeft{
    text-align: left;
    width: 40%;
    margin-right: 50px;
}

.justifyContentSpaceBetween{
    justify-content: space-between;
}

.justifyContentCenter{
    align-content: center;
}

.seccionDireccion{
    width: 45%;
    padding-left: 30px;
}

.seccionGoogleMaps{
    width: 45%;
    padding-right: 30px;
}

.imgSm{
    width: 400px;
}

.borderDottedGreen{
    border: dotted 3px #88A61C;
    
}

.marginEntreSections{
    margin: 10px;

}



section.mapa{
    background-color: #BABF2A;
    
}

section.mapa article{
    /* display: inline-block; */
    
    
}
    section.mapa article p{
    font-family: 'Nunito', sans-serif;
    font-size: 1em;
    }
