*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;   
}

p{
    @include parrafos($fontXs,$roboto,$fontColor)
}

footer{
    ul{
        margin: auto;
        display: inline-block;
        li{
            display: inline-block;
            margin: auto;
            list-style: none;
        }
    }
}

.iconsContact{
    display: flex;
    ul{
        display: flex;
        li{
            list-style: none;
            flex-direction: row;
            justify-content: space-between;
            h2{
                font-size: $fontXL;
            }
        }
    }
}

.btnContacto{
    background-color: $btnColor;
    color: $fontColor;
    &:hover{
        background-color: $btnHoverColor;
        transform: scale(1.09);
	    transition: all 1s;
    }
}

.principalSection{
    width: auto;
    height: auto;
    margin: 10px;
    border: $borderMainSection;
    padding: 10px 10px;
}



.paddingStandard{
    padding: 20px 30px 110px 30px;
}

.bgColorLight{
    background-color: $secondaryColor;
}

.bgColorDark{
    background-color: $mainColor;
}
.imgFluid{
   width: $w-100;
}
.tituloPrincipalXL{
    font-size: $fontXXL;
}
.tituloMd{
    font-size: $fontXL;
}
.parrafoSm{
    @include parrafos($fontSm, $roboto, $fontColor)
}

.textCenter{
    text-align: center;
}

.dFlex{
    display: flex;
}

.fDirection{
    flex-direction: column;
}

.alignContentCenter{
    align-content: center;
}

.directionColumn{
    flex-direction: column;
}
.pie{
    padding: 10px 50px;
    background-color: $footerColor;
    text-align: center;
    margin-right: 8px;
    width: 100%;
    box-sizing: border-box;
    height: 10vh;
    
}
.iconSmall{
    width: 30px;
    margin-right: 20px;
}
.textLeft{
    text-align: left;
    width: 40%;
    margin-right: 50px;
}
.justifyContentSpaceBetween{
    justify-content: space-between;
}

.justifyContentCenter{
    justify-content: center;
}
.stretch{
    justify-content: stretch;
}

.seccionDireccion{
    width: 45%;
    padding-top: 10px;
    padding-left: 30px;
}
.seccionGoogleMaps{
    width: auto;
    padding: 30px;
}

.imgSm{
    width: 400px;
}
.borderDottedGreen{
    border: $borderMainSection;
    
}
.marginEntreSections{
    margin: 10px;

}

.alignItem{
    align-items: flex-start;
}
