@mixin subrayadoAnimado($color1,$color2){
    background-image: linear-gradient($color1, $color2);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

@mixin subrayadoAnimadoHover(){
    background-size: 100% 2px;
}

@mixin parrafos($fontSize, $fontFamily, $fColor){
    font-size: $fontSize;
    font-family: $fontFamily;
    color: $fColor;
}

