#botonera{
    background-color: $mainColor;
    grid-area: nav;
    ul{
        li{
            margin-right: 10px;
            a{
                color: $fontColor;
                text-decoration: none;
                @include subrayadoAnimado();
                &:hover{
                    color: black;
                    font-weight: 600;
                    @include subrayadoAnimadoHover();
                }
            }
        }
    }
}

