$w-100:100%;
$h-100:100%;

$mainColor: #497320;
$secondaryColor:  #C8D98B;
$fontColor: black;
$borderFacebook: solid aqua 3px;

$fontXL: 1.5em;
$fontL: 1em;
$fontMD: 1.2em;
$fontSm: 1em;
$fontXs: 0.8;
