$w-100:100%;
$h-100:100%;

$mainColor: #497320;
$secondaryColor:  #C8D98B;
$footerColor: #65a603;
$btnColor: #88A61C;
$btnHoverColor: #c1cc9b;
$fontColor: black;

$borderFacebook: solid aqua 3px;
$borderMainSection: dotted 3px #88A61C;

$fontXXL: 2em;
$fontXL: 1.5em;
$fontL: 1em;
$fontMD: 1.2em;
$fontSm: 1em;
$fontXs: 0.8;

$roboto: 'Roboto', sans-serif;

